.swiper-pagination-bullet {
  background-color: #5956e9;
  width: 16px;
  height: 16px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  background-color: #5956e9;
  border: 1px solid #5956e9;
  padding: 40px 40px;
  border-radius: 999px;
  transition: all 0.3s ease-in-out;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  color: #5956e9;
  background-color: white;
  border: 1px solid #5956e9;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px;
  font-weight: 900;
}
