.swiper-pagination-bullet {
  background-color: #5956e9;
  width: 16px;
  height: 16px;
}

#feedback .swiper-pagination-bullet {
  background-color: white;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  background-color: #5956e9;
  border: 1px solid #5956e9;
  padding: 40px 40px;
  border-radius: 999px;
  transition: all 0.3s ease-in-out;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  color: #5956e9;
  background-color: white;
  border: 1px solid #5956e9;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px;
  font-weight: 900;
}

@media (min-width: 2500px) {
  .swiper-button-next,
  .swiper-button-prev {
    padding: 50px;
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 30px;
  }
}

@media (max-width: 1919px) {
  .swiper-button-next,
  .swiper-button-prev {
    padding: 30px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 415px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
